//this file calls the modules and sets the general Styles to make these things accessible to the other partials easily
//by simply importing it (saving room and making easier code to read)

@import "../modules/_device.scss";
@import "../modules/_extend.scss";
@import "../modules/_variables.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $purple,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;
