//This is for general styles and styles applied globally to the body

@import "_base.scss";
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
body{
  background: $background;
  color:$white !important;
}
hr {
  box-sizing: content-box;
  background: $primary-light;
  border: 1rem solid $primary-light;

}




