//this file Styles the posts on the index page
@import "./_base.scss";
@import "./_codeblock.scss";
.article {
  padding-top: 10rem;
  padding-bottom: 10px;
  max-width: 80rem;
  background-color: $secondary-light !important;

  .info {
    padding-bottom: 1.3rem;
    border: 0.125rem solid $gray-200;
    word-break: break-word;

    h1 {
      letter-spacing: -0.5px;
    }

    .badge {
      margin-right: 3px;
    }

    time {
      color: $gray-500;
      display: inline;
      margin-right: 10px;
    }
  }

  .content {
    background: $secondary-light;
    padding-bottom: 10px;
    h2 {
      padding-top: 10px;
      margin-bottom: 20px;
    }



    blockquote {
      background-color: $secondary-light !important;
      border-left: 5px solid $secondary !important;

      a {
        display: block;
        word-break: break-word;
      }
    }
  }
}
