// This file is used to define the responsiveness of
// Defines the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 710px,
  xl: 780px,
) !default;
