// This file creates the Templates called in the other scss files
// These Templates enable styling Components in a consistent manner

@import 'variables';

%button {
  border: $secondary-light 0.125rem solid;
  margin-left: 0.5rem;
  background: $gradient;
}
%button0 {
  border: $secondary-light 0.125rem solid;
  margin-left: 1rem;
  padding: 0.5rem;
  background: $gradient0;
}
%article {
  background: $secondary;
  color: $white;
}
%title{

  padding: 0;
  margin: 0 0 1.45rem;
  color: $primary-light !important;
  font-family: $font;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;

}
%link{
  color:$primary-light !important;
}

%link0{
  color:$secondary-light;
  background: $primary-light;
}