// this file contains variables called by other scss files
//unlike the specific styling to be found in _partials,
// all variables are included and sectioned according to component below

@import url('https://fonts.googleapis.com/css?family=Dokdo|Overpass+Mono|Permanent+Marker|Rock+Salt|Share+Tech+Mono|Space+Mono|VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

//Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;
$primary: $purple;
$secondary: $gray-800;
$primary-light: #9063ec;
$secondary-light: #343A40;

// Backgrounds
$background: #343a40
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23673ab7' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$header-background: #343a40;
$gradient: linear-gradient(
  -35deg,
  $primary 05%,
  $primary-light 35%,
  $primary 55%,
  $primary-light 65%,
  $primary 75%
);
$gradient0: linear-gradient(
  -35deg,
  $secondary 05%,
  $secondary-light 35%,
  $secondary 55%,
  $secondary-light 65%,
  $secondary 75%
);

// Font
$font: 'Aldrich', 'Share Tech Mono', 'VT323', 'Overpass Mono', 'Space Mono',
  monospace;
$title-font: 'VT323', 'Major Mono Display',  monospace;
$font-family-monospace: "Space Mono",  monospace !default;



// Headings

$h1-font-size: 1.8rem !default;
$h2-font-size: 1.4rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.1rem !default;
$h5-font-size: 1.05rem !default;
$h6-font-size: 1rem !default;


//Display Sizing
$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

//Misc

$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
